.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0px;
}

.imageContainer {
  flex: 1;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: none;
  transition: flex 0.3s ease-in-out, border 0.3s ease-in-out;
  position: relative;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover {
  /* transform: scale(1.0, 1.0); No change in container size */
  flex: 1.29;
}
.imageContainer:not(:hover) {
  flex: 1.1; /* Shrink the container */
}

.imageContainer:hover .image {
  transform: scale(1.2, 1); /* Double the width, keep height same */
  z-index: 1;
}

.imageTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(24, 216, 230);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.arrow {
  font-size: 2rem;
  color: #333;
  margin-top: 20px;
}